name: phpcs

on: [push]

jobs:
  phpcs:
    runs-on: ubuntu-16.04

    strategy:
      matrix:
        php-version:
          - "7.3"

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup composer cache
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: php${{ matrix.php-version }}-composer-

      - name: Install composer dependencies
        run: php${{ matrix.php-version }} /usr/bin/composer update  --no-ansi --no-interaction --no-progress

      - name: Run phpcs
        run: php${{ matrix.php-version }} /usr/bin/composer phpcs
